h3 {
    color: var(--text-primary);
    font-weight: var(--card-bold);
}

.footer-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 2rem 4rem 2rem 4rem;
    gap: 3rem;
    background: var(--foot-color);
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-nav ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}


.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem 2rem 4rem;
}

.footer-socials {
    display: flex;
    gap: 1rem;
}