.hero-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--text-primary);
}

.hero-content span {
  display: block;
  font-size: 4rem;
  color: var(--secondary-color);
}

.hero-visual {
  position: relative;
  flex: 1;
  width: 100%;
}

.hero-visual .promotion-card {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 2rem;
}

.hero-visual .promotion-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
}

.hero-visual .promotion-card img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-overlay {
  position: absolute;
  bottom: 8%;
  left: 5%;
  width: 90%;
}

.hero-overlay h2 {
  color: var(--white);
  font-weight: 900;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.hero-overlay p {
  color: var(--white);
  font-size: 1rem;
  opacity: 70%;
}

.destination-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}

.popular-destination {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.popular-destination .destination-title {
  height: 30px;
  font-size: 2rem;
  color: var(--text-primary);
}

.destination-container .card-destination {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  width: 100%;
  height: auto;
  border-radius: var(--bg-radius);
  box-shadow: var(--shadow-soft);
}



.card-destination .destination-visual {
  width: 100%;
  height: 60%;
}
.card-destination .destination-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--bg-radius);
  border-top-right-radius: var(--bg-radius);
}

.destination-content h2 {
  color: var(--text-secondary);
  font-weight: var(--card-bold);
  font-size: 1.5rem;
}

.destination-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.destination-content .footer {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.destination-content .footer .nav-btn-minicard {
  align-self: center;
}

.destination-content h3 {
  font-size: 1.5rem;
  color: var(--text-primary);
  font-weight: var(--card-bold);
}
.destination-content .offer, .day {
  color: var(--text-secondary);
  font-weight: var(--card-medium);
  font-size: 1rem;
}

.services-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 15px;
  gap: 1rem;
  padding: 4rem 4rem;
}

.services-content {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  gap: 1rem;
  align-self: center;
}

.services-content span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-primary);
}
.services-content h2 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--text-primary);
}

.services-tags .tag-item {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-secondary);
  background-color: var(--bg-item);
  border-radius: 10px;
  padding: 0.5rem;
  margin-right: 1rem;
}

.services-visual {
  display: flex;
  flex: 1;
  justify-content: end;
  max-height: 100%;
  padding: 2rem;
}

.services-visual .interior-card {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
  rotate: 4deg;
}

.section-header-centered,
.h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-primary);
  margin-bottom: 2rem;
}

.section-header-centered p {
  font-size: 1rem;
  color: var(--text-secondary);
}

.standards-section {
  padding: 80px 20px;
  background-color: var(--white);
}

.standards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.standard-card {
  padding: 2rem;
  background: var(--white);
  border-radius: 12px;
  border: 1px solid #eee;
  transition: all 0.3s ease;
}

.standard-card:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow-soft);
}

.card-icon-wrapper {
  width: 60px;
  height: 60px;
  background-color: rgba(184, 134, 11, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.card-icon-wrapper img {
  width: 30px;
  height: 30px;
}

.standard-card h3 {
  font-size: 1.5rem;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.standard-card p {
  font-size: 1rem;
  color: var(--text-secondary);
}

.experience-section {
  padding: 80px 0;
  background-color: var(--bg-light);
}

.experience-section header h2 {
  font-size: 1.5rem;
  color: var(--text-primary);
  margin-bottom: 1rem;
}
.experience-section header p {
  width: 50%;
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 1rem;
}

.experience-gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 280px);
  gap: 1.5rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin: 0;
}

/* Gambar Besar (Captain Seat) */
.large-item {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/* Overlay & Caption */
.gallery-item figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  color: var(--white);
}

.gallery-item .label {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--accent-gold);
  margin-bottom: 0.5rem;
}

.gallery-item h3 {
  font-size: 1.2rem;
  margin: 0;
}
